.navbar {
  height: 15vh;
  background: linear-gradient(to right, #8dffe6, #bd4cff);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  width: 18%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 150px;
  height: 100%;
  padding: 10px;
}

.activeStyles {
  padding: 10px;
  text-decoration: none;
  background-color: #d8ec81;
  border-radius: 15px;
  color: #000000;
}

.classicStyles {
  padding: 10px;
  text-decoration: none;
  border-radius: 15px;
  color: #ffffff;
}

.cart-icon-container{
  width:70px ;
  height:70px ;
  background-color: bisque;
  position: relative;
}
.cart-icon{
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: 4px;

}