.navbar {
  height: 15vh;
  background-color: #2e5b36;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  width: 18%;
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 150px;
  height: 100%;
  padding: 10px;
}

.activeStyles {
  padding: 10px;
  text-decoration: none;
  background-color: #d8ec81;
  border-radius: 15px;
  color: #000000;
}

.classicStyles {
  padding: 10px;
  text-decoration: none;
  border-radius: 15px;
  color: #ffffff;
}